SECRET_KEY=nksmcmrgts58ex984ytmsocltclcty8cemsy85y8entx47
DEBUG=0
ALLOWED_HOSTS=*

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@localhost
